.cta-container {
	width: 293px;
	height: 431px;
	padding: 20px 10px;
	display: inline-block;
	vertical-align: middle;
	margin-top: 8%;
}

.cta-btns-container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.cta-btns-container button:first-child {
	background-color: #d42b1e;
}

